{% extends 'base.html' %}

{% block content %}

<div class="card-box">



<div class="d-flex justify-content-between mb-3">

    <form method="get" class="d-flex">

    <input type="text"
           name="search"
           value="{{ request.GET.search }}"
           class="form-control search-box"
           placeholder="🔍 Search Customer">

   

</form>


</div>

<table class="table  table-striped  table-hover">

<thead>
<tr>
    <th>Name</th>
      <th>Mobile Number</th>
    <th>Services</th>
    <th>Total Fees</th>
    <th>Received Payment</th>
    <th>Remaining Payment </th>
    <th>Action</th>
    <th>Payment History</th>
</tr>
</thead>

<tbody class="fw-bold">

{% for c in customers %}

<tr>

<td>{{ c.name|upper }}</td>
<td>{{ c.mobile }}</td>
<td>
    
    {% for service in c.tasks.splitlines %}
        <span class="badge bg-info me-1">
            {{ service|upper }}
        </span>
    {% endfor %}

  
    <a href="{% url 'add_service' c.id %}"
      >
       <i class="fa-solid fa-pen-to-square"></i>
    </a>

</td>
<td><span class="badge bg-warning">₹ {{ c.total_fees }}</span></td>
<td><span class="badge bg-success">₹ {{ c.received_payment }}</span></td>

<td>
    {% if c.remaining_payment > 0 %}
        <span class="badge bg-danger">
            ₹ {{ c.remaining_payment }}
        </span>
    {% else %}
        <span class="badge bg-success">
            Paid
        </span>
    {% endif %}
</td>

<td>

<a href="{% url 'update_payment' c.id %}"
   class="btn btn-primary btn-sm fw-bold">
   Add Payment
</a>
<br>
{% if c.remaining_payment <= 0 %}

<a href="{% url 'delete_customer' c.id %}"
   class="btn btn-danger btn-sm mt-2">
   Delete
</a>

{% endif %}

</td>
<td><a href="{% url 'customer_detail' c.id %}"
   class="btn btn-info btn-sm">
   View History
</a></td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}